@charset "UTF-8";
/*MAPAS DE COLORES*/
/*FIN DE MAPA*/
* {
  /*RESET*/
  margin: 0;
  padding: 0;
}

body {
  /*BODY DE PAGINAS*/
  box-sizing: border-box;
  background-color: black;
  background: url(../images/BACKGROUND/black-background-fino\ conv.jpeg);
  overflow: scroll;
  background-size: 100% 100%;
  background-attachment: fixed;
  font-family: "Joan", serif;
  font-family: "Stick No Bills", sans-serif;
}

#body__bg {
  /*body de index*/
  background: url(../images/BACKGROUND/wallpaperbetter.com_1680x1050.jpg);
  box-sizing: border-box;
  overflow: scroll;
  background-position: center;
  background-size: cover;
  filter: drop-shadow(12px 3px 3px black);
  font-family: "Joan", serif;
  font-family: "Stick No Bills", sans-serif;
}

.header-menu {
  margin-bottom: 10px;
}

.row {
  --bs-gutter-x: 0;
}

/*-------------------NAVBAR STYLE---------------------------*/
.color__nav {
  color: #ffffff;
}
.color__navhover {
  color: #8b0000;
  transition: color 1s;
}

a.nav-link {
  color: #ffffff;
  opacity: 50%;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: center;
}

li.nav__pad {
  padding: 5px 50px;
}

.dropdown-item {
  color: #ffffff;
}

.dropdown-menu :hover {
  /*HOVER DE BARRA DESPLEGABLE NONE*/
  transition: none;
  transform: none;
}

/*------------------MAIN--------------------------*/
.main-logo {
  display: flex;
  justify-content: center;
  padding: 50px;
  margin: 0;
  padding-bottom: 0;
  flex: 1;
}

/*----ICONOS----*/
.icon {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 70px;
  padding-right: 70px;
}

ion-icon {
  color: #8b0000;
  font-size: 20px;
}

.icon__main {
  padding-top: 15px;
  padding-bottom: 0px;
  padding-left: 25px;
  padding-right: 20px;
}
.icon__mainhover {
  color: #ff0000;
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
}

/*---- FIN DE ICONOS----*/
/*------------------------FOOTER----------------------*/
.links__flex {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.logos__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img__centro {
  display: flex;
  justify-content: center;
}

/*-----TEXT COLOR DE FOOTER LINKS-----*/
.text__color {
  color: #8b0000;
}
.text__colorhover {
  color: #ff0000;
}

/*-----TEXT COLOR DE FOOTER LINKS-----*/
.logos__footer {
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 250px;
}

/*-------------------------------------------RESTO DE PAGINAS--------------------------------------------------*/
.navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm,
.navbar > .container-xl, .navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: flex-end;
}

.top_end_bg {
  background-image: linear-gradient(to bottom, #363636, #580303);
}

ul.navbar-nav.color-hover.color.h2 {
  display: flex;
  align-items: center;
}

nav.navbar.navbar-expand-lg.top_end_bg {
  padding: 0;
}

#DRIP {
  padding: 0px 55px;
  text-decoration: none;
  list-style: none;
  font-weight: bolder;
  font-size: 40px;
}

.titular__drip {
  color: #7e7777;
  font-family: "Abril Fatface", cursive;
  font-style: italic;
  font-weight: 100;
  padding-left: 40px;
  border: #131212 solid 3px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #380303;
}

.padding-titulo {
  padding: 5px 20px;
}

.color__nav__pag :hover {
  color: #8b0000;
  transition: color 1s;
}

.nav-contenido ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

nav .lista-contenido a {
  color: #ffffff;
  display: block;
  text-decoration: none;
  margin-top: 10px;
  padding: 0.5em 1em;
  text-align: center;
}

.nav-contenido {
  padding-bottom: 1em;
}

.nav-contenido .lista-contenido a:hover {
  border-radius: 20px;
  background: linear-gradient(to bottom, #363636, #580303);
  color: #ff0000;
}

.nav-contenido .miembros-cartas li {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.nav-contenido .lista-contenido li {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 50px;
  padding-right: 50px;
}

.nav-contenido .lista-contenido li a img {
  width: 200px;
  height: 400px;
  border-radius: 20px;
}

.nav-contenido .lista-contenido .img__logo__juego {
  width: 150px;
  height: 150px;
}

#FIFA {
  width: 190px;
}

/*-------------------------¡COMPANY!---------------------------------------*/
.bloque {
  padding: 0;
}

.bloque-primero {
  display: flex;
  padding: 17px 18px;
  flex-direction: row;
  justify-content: flex-start;
  color: #7e7777;
}

p.parrafo {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 10px 10px;
  font-size: 22px;
  color: #7e7777;
  border: 3px #7e7777 solid;
}

span.parrafo-negrita {
  font-style: italic;
  color: #8b0000;
}

.bloque-segundo {
  display: flex;
  flex-direction: row;
  color: #8b0000;
  justify-content: center;
}

.fundadores {
  display: flex;
}

.fundadores div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin: 0;
}

.fundadores div img {
  width: 100px;
  height: 100px;
  border-radius: 80px;
}

.Img__Company {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.bloque-tercero {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #7e7777;
  margin-top: 40px;
  margin-bottom: 20px;
}

.titulo__bloque__tres {
  color: #7e7777;
  font-size: 40px;
  margin-top: 40px;
  margin-left: 200px;
  background: #580303;
  border-radius: 20px;
  width: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.titulares {
  text-align: center;
  margin-bottom: 50px;
  color: #5c0404;
}

#romo_dicho {
  color: #7e7777;
}

/*------------------CARTA DE COMPANY------------*/
.drip__carta {
  display: flex;
}

.carta {
  background: #141313;
  padding: 20px;
  padding-left: 40px;
  border-radius: 20px;
  padding-right: 40px;
}

.drip__carta__titulo {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 50px;
  color: #5c0404;
}

.drip__carta img {
  width: 400px;
  height: 400px;
  margin-right: 20px;
  border-radius: 20px;
}

.carta__izq {
  background-color: #2e0000;
  color: #7e7777;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  padding: 20px;
  margin: 0;
}

/*------------------ FIN DE CARTA DE COMPANY------------*/
/*------------------ TIENDA DE ROPA DRIP------------*/
ul.ul-remeras {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  text-decoration: none;
}

.cont__img__bg {
  background-image: url(../images/BACKGROUND/background-white-wall-tienda\ conv.jpeg);
  background-position: center;
  background-size: 100% 100%;
  background-attachment: fixed;
  margin: 0;
}

.ul-remeras li img {
  list-style: none;
}

.remeras__tamaño div li a img {
  width: 600px;
  height: 300px;
  border-radius: 20px;
  padding: 10px;
  margin: 0;
  filter: drop-shadow(12px 3px 3px black);
}

.remeras__tamaño div :hover {
  border-radius: 20px;
  background: linear-gradient(to bottom, #363636, #580303);
}

.drip__titulo__remeras {
  text-align: center;
  font-size: 40px;
  color: #ffffff;
  font-weight: bold;
  background: #0f0f0f;
  width: 255px;
  height: auto;
  margin: 10px 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

#romo__remera {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#romo__remera img {
  width: 800px;
  height: 400px;
}

/*------FIN DE REMERAS DRIP ------*/
/*------ACCESOS DE INFORMACION DE LA ROPA Y ACCESORIOS DRIP QUE HAY EN LA TIENDA------*/
.botones__ropa {
  width: 400px;
  height: 300px;
  max-width: 400px;
  max-height: 500px;
  padding: 0;
  margin: 0;
  border: #380303 6px solid;
  border-radius: 40px;
}

.botones__flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.botones__bg {
  background-color: #0f0f0f;
  border-radius: 10px;
  border: 7px #380303 solid;
}

/*------ FIN DE ACCESOS DE INFORMACION DE LA ROPA Y ACCESORIOS DRIP QUE HAY EN LA TIENDA------*/
/*------CAROUSEL------*/
.carousel__bg {
  margin-bottom: 1rem;
}

.w-100 {
  height: 400px;
}

/*------FIN DE CAROUSEL------*/
/*MIEMBROS DE DRIP SITIO INDIVIDUAL*/
.contenedor_miembros {
  display: flex;
  flex-direction: column;
  border-left: 5px red solid;
  margin: 20px;
}
.contenedor_miembros div {
  display: flex;
}
.contenedor_miembros div img {
  width: 200px;
  height: 200px;
  border-radius: 90px;
  padding: 10px;
  margin: 10px;
}

.presentacion {
  display: flex;
  flex-direction: column;
  color: #7e7777;
  margin-top: 30px;
  margin-left: 20px;
  font-size: 30px;
}
.presentacion h1 {
  font-size: 3rem;
}

.equipos {
  display: flex;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 10px;
  flex-direction: column;
}
.equipos h1 {
  color: #7e7777;
}
.equipos h2 {
  margin-left: 30px;
  color: #7e7777;
}
.equipos .mdp {
  padding-top: 0;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.equipos p {
  font-size: 25px;
  color: #811313;
  padding-top: 0;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}
.equipos span {
  font-size: 20px;
  color: #7e7777;
}

.equipos_plantilla {
  display: flex;
  flex-wrap: wrap;
}
.equipos_plantilla div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
}
.equipos_plantilla div img {
  width: 140px;
  height: 140px;
}

#fifa_equipos {
  width: 150px;
  height: 120px;
}

.TEAM_MDP {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.TEAM_MDP #copa {
  width: 160px;
  height: 200px;
}

#darksouls {
  width: 200px;
  height: 120px;
}

#clashroyale {
  width: 160px;
  height: 100px;
}

#fate {
  width: 200px;
  height: 115px;
}

/*FIN DE MIEMBROS DE DRIP SITIO INDIVIDUAL*/
/*-----------MEDIA QUERIES-----------*/
@media screen and (max-width: 1024px) {
  .navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm,
.navbar > .container-xl, .navbar > .container-xxl {
    justify-content: center;
  }

  .titular__drip {
    color: white;
    font-family: "Abril Fatface", cursive;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #380303;
  }

  .navbar__flex {
    align-items: center;
  }

  ul.navbar-nav.color__nav__pag.h2 {
    align-items: center;
  }

  nav ul {
    flex-direction: column;
  }

  #DRIP {
    padding-right: 50px;
  }

  .w-100 {
    height: 250px;
  }

  /*REMERAS DRIP DE TIENDA*/
  .remeras__tamaño div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .drip__titulo__remeras {
    width: 100%;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .remeras__tamaño div li a img {
    width: 350px;
    height: 200px;
  }

  #romo__remera img {
    width: 400px;
    height: 200px;
  }

  .botones__ropa {
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 10px;
    border-radius: 30px;
  }

  /* FIN DE REMERAS DRIP*/
  .nav-contenido .lista-contenido li {
    padding-left: 0px;
    padding-right: 0px;
  }

  .nav-contenido .lista-contenido .img__logo__juego {
    width: 150px;
    height: 150px;
    margin-right: 75px;
    margin-left: 0;
  }

  #FIFA {
    width: 150px;
  }

  .nav-contenido .lista-contenido li a img {
    width: 200px;
    height: 400px;
    border-radius: 20px;
    margin-left: 0px;
    margin-right: 130px;
  }

  .fundadores div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  /*--------CARTA--------*/
  .drip__carta {
    display: flex;
    justify-content: center;
  }

  .carta {
    background: #141313;
    padding: 10px;
    padding-left: 20px;
    border-radius: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .drip__carta img {
    width: 400px;
    height: 400px;
    margin-right: 20px;
    border-radius: 20px;
  }

  .carta__izq {
    background-color: #2e0000;
    color: #7e7777;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    padding: 20px;
  }

  .drip__carta__titulo {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 40px;
    color: #5c0404;
  }

  /*--------FIN DE CARTA--------*/
  .titulo__bloque__tres {
    color: #7e7777;
    font-size: 40px;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    background: #580303;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
  }
}
@media screen and (max-width: 525px) {
  .navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm,
.navbar > .container-xl, .navbar > .container-xxl {
    justify-content: center;
  }

  .titular__drip {
    color: #ffffff;
    font-family: "Abril Fatface", cursive;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #380303;
  }

  .navbar__flex {
    align-items: center;
  }

  nav ul {
    flex-direction: column;
  }

  li.nav-item {
    padding: 0px;
    margin: 0;
  }

  #DRIP {
    padding-right: 0;
    padding: 0;
  }

  .w-100 {
    height: 215px;
  }

  ul.navbar-nav.color__nav__pag.h2 {
    align-items: center;
  }

  .color__nav :hover {
    transition: none;
    transform: none;
  }

  /*-----REMERAS DRIP DE TIENDA-----*/
  .remeras__tamaño div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .drip__titulo__remeras {
    width: 100%;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .remeras__tamaño div li a img {
    width: 200px;
    height: auto;
  }

  #romo__remera img {
    width: 300px;
    height: auto;
  }

  .botones__ropa {
    width: 215px;
    height: 150px;
    border-radius: 30px;
    padding: 0;
    margin: 10px;
  }

  .botones__flex {
    flex-direction: column;
  }

  /* ---FIN DE REMERAS DRIP----*/
  .icon__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .logos__flex {
    flex-direction: column;
  }

  .nav-contenido .lista-contenido li {
    padding-left: 0px;
    padding-right: 0px;
  }

  .nav-contenido .lista-contenido .img__logo__juego {
    width: 150px;
    height: 150px;
    margin-right: 40px;
    margin-left: 0;
  }

  .nav-contenido .lista-contenido li a img {
    width: 200px;
    height: 400px;
    border-radius: 20px;
    margin-left: 0px;
    margin-right: 50px;
  }

  #FIFA {
    width: 150px;
  }

  .fundadores {
    flex-wrap: wrap;
    justify-content: center;
  }

  /*------CARTA------*/
  .drip__carta {
    display: flex;
    justify-content: center;
  }

  .carta {
    background: #141313;
    padding: 10px;
    padding-left: 0;
    border-radius: 30px;
    padding-right: 0;
    padding-bottom: 20px;
  }

  .drip__carta img {
    width: 185px;
    height: 400px;
    margin-right: 20px;
    border-radius: 20px;
  }

  .carta__izq {
    background-color: #580303;
    width: 195px;
    height: 400px;
    color: #7e7777;
    width: 195px;
    height: 400px;
    border-radius: 30px;
    padding: 20px;
    margin: 0;
  }

  .drip__carta__titulo {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 40px;
    color: #580303;
  }

  /*------FIN DE CARTA------*/
  .titulo__bloque__tres {
    color: #7e7777;
    font-size: 40px;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    background: #580303;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .equipos_plantilla {
    justify-content: center;
  }
}/*# sourceMappingURL=main.css.map */
