/*MAPAS DE COLORES*/ 

$colors: (

top-end:linear-gradient(to bottom, #363636, #580303),

rojonegro:#8b0000,
rojonegro_v2:#811313,
bgcarta:#5c0404,
colortitulos:#580303,
bgtitulos:#380303,



blanco: #ffffff,
rojo: #ff0000,
gris:#7e7777,
grisoscuro:#141313,
negro: #0f0f0f
);

/*FIN DE MAPA*/

$todo: (

centro: center,
fuentemovil: 40px,
direccion: column,

)

